<!DOCTYPE html>
<html lang="en">

<head>

    <title>UPdate Answer</title>
</head>

<body>
    <!-- {% load crispy_forms_tags %} -->
    <h1>UPDATE Answer with Qid </h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{a_form.media}}

        {{a_form.title}}
        <br />
        {{a_form.description}}<br />

        <!-- <br /> -->
        <!-- <input type="text" data-role="tagsinput" class="form-control" id="tags" name="tags"
            value="{%for l in tagList%}{{l}},{%endfor%}"> -->

        <br />
        <input type="submit" value="POST" />
    </form>

</body>

</html>